.media_player {
    width: 500px;
    height: 250px;
}

.media_image {
    width: 50%;
    height: 50%;
}

div {
    border: 1px solid limegreen;
    margin: 5px;
}

#first p {
    font-size: larger;
}


/* third>p {
    visibility: hidden;
}

#second * {
    visibility: hidden;
} */